.logo-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: 72px;
  color: #f5f7f8;
}
.intro {
  font-weight: bold;
  font-size: 48px;
}
.intro-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}
