html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #000229;
}
div::-webkit-scrollbar {
  width: 11px;
}
div {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
div::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
div::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
@font-face {
  font-family: "Poppins";
  src: url("~/assets/poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("~/assets/poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("~/assets/poppins/Poppins-SemiBold.ttf");
}

.v-application .caption,
.v-application .text-h6,
.v-application .text-h5,
.v-application .text-h4,
.v-application .text-h4,
.v-card,
.v-list,
.v-btn__content,
.v-data-table,
p,
h5,
small,
.title,
label,
.body-2 {
  font-family: "Poppins", sans-serif !important;
}
.v-btn {
  text-transform: capitalize;
  border-radius: 7px;
}
.dark-bg {
  background: #000229;
}
.link {
  cursor: pointer;
}
.border {
  border: 1px solid red;
}
.white-border {
  border: 1px solid white;
}
.theme-color {
  color: #c202d3;
}
.outer-btn {
  background: linear-gradient(
    264.44deg,
    #fe87ff 2.87%,
    #c202d3 34.05%,
    #5e0fff 67.82%,
    #1905da 99.15%
  );
  padding: 1px;
  border-radius: 7px;
  cursor: pointer;
}
.inner-btn {
  width: 99px;
  height: 35px;
  background: #000229;
  padding: 10px;
  align-content: center;
  border-radius: 7px;
}
.grand-title-text {
  font-weight: 500;
  font-size: 16px;
  background: linear-gradient(
    86.47deg,
    #fe87ff 1.47%,
    #fd2bff 21.9%,
    #c202d3 39.06%,
    #9208e8 57.62%,
    #5e0fff 84.84%,
    #1905da 96.24%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.spinner-box {
  width: 60px;
  height: 60px;
}

.enclose-border {
  border: 1px solid #500083;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 10px #500083);
  border-radius: 10px;
  padding: 20px 40px;
}

.slider-card {
  background-color: transparent !important;
  border: 1px solid
    linear-gradient(
      264.75deg,
      #fe87ff 3.04%,
      #fd2bff 23.86%,
      #c202d3 41.34%,
      #5e0fff 68.89%,
      #1905da 99.63%
    );
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #fe87ff;
  font-family: "Poppins", sans-serif !important;
}
.title2 {
  font-weight: 500;
  font-size: 16px;
  color: #fe87ff;
  font-family: "Poppins", sans-serif !important;
}

.v-card {
  background-color: transparent !important;
}

.line-box {
  width: 80px;
  height: 1px;
  background: linear-gradient(
    264.75deg,
    #fe87ff 3.04%,
    #fd2bff 23.86%,
    #c202d3 41.34%,
    #5e0fff 68.89%,
    #1905da 99.63%
  );
}

.outer-card {
  max-width: 300px;
  height: 448px;
  background: linear-gradient(
    264.44deg,
    #fe87ff 2.87%,
    #c202d3 34.05%,
    #5e0fff 67.82%,
    #1905da 99.15%
  );
  padding: 1px;
}

.inner-card {
  background: #000229;
  width: 100%;
  padding: 20px;
  height: 446px;
}
.theme--dark.v-skeleton-loader .v-skeleton-loader__article {
  background: #000229;
}
.theme--dark.v-list {
  background-color: #030537 !important;
  box-shadow: 2px 2px 4px 0px #c202d380 inset !important;
  box-shadow: -2px -2px 4px 0px #c202d380 inset !important;
}

.prem-sup-card {
  width: fit-content;
  background: linear-gradient(
    261.36deg,
    #c202d3 3.07%,
    #300253 64.08%,
    #16023c 82.04%,
    #000229 100%
  );
  margin: 5px;
}

.prem-sup-card span {
  padding: 0 10px;
  font-size: 12px;
}
.twitter-share {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(29, 161, 242);
  padding-left: 6px;
  padding-top: 5px;
  margin-top: -3px;
  z-index: 500;
}

.twitter-share-expanded {
  width: 130px;
  height: 30px;
  color: rgb(29, 161, 242);
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
  padding-left: 25px;
  margin-left: -20px;
}
.reply-btn {
  cursor: pointer;
  font-size: 10px;
  margin-bottom: 0px;
}
